$def with (name)
<!DOCTYPE html>
<html>

<head>
    <title>留言板</title>
    <style>
        .zt {
            font-size: 5px;
        }
        
        .cls {
            text-align: center;
        }
    </style>

</head>

<body style="background-color:rgb(74, 145, 135);">

    <form action="http:/haha" method="POST" class="cls">
        姓名<input type="text" name="xingming" value="张三" id="a"><br> 留言
        <input type="text" name="liuyan" id="b"><br>
        <input type="submit" value="登录">

    </form>


</html>